@media (max-width: 768px) {
  .header__btn {
    display: none;
  }

  .menu {
    &__list-item {
      padding-left: 0;

      &+.menu__list-item {
        padding-right: 0;
      }
    }
  }

  .logo {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .logo {
    order: -1;
  }

  .header {
    &__inner {
      padding-top: 42px;
      flex-wrap: wrap;
    }

    &__btn-menu {
      order: -1;
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;

      span {
        background-color: #000;
        width: 37px;
        height: 3px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;

      }
    }
  }

  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #FFF;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-250px);
    transition: all .5s;

    &--open {
      transform: translateY(30px);
    }

    &__list {
      display: block;
    }

    &__list-item {
      padding-right: 0;
    }

    &__list-link {
      display: block;
      padding: 10px 0;
    }
  }
}