@media (max-width: 992px) {
  .footer {
    &__info {
      width: 360px;
    }
  }
}


@media (max-width: 768px) {
  .header {
    &__btn {
      display: none;
    }
  }

  .menu {
    &__list-item {
      padding-left: 0;

      &+.menu__list-item {
        padding-right: 0;
      }
    }
  }

  .logo {
    margin: 0;
  }

  .footer {
    &__inner {
      width: 100%;
      flex-wrap: wrap;
    }

    &__info {
      width: 100%;
      margin-bottom: 50px;
    }

    &__info-text {
      max-width: 100%;
    }

    &__form {
      flex-wrap: wrap;
    }

    &__form-input {
      width: 100%;
      margin-bottom: 10px;
    }

    &__menu {
      margin-left: auto;
      margin-right: auto;
    }

    &__social {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 540px) {
  .logo {
    order: -1;
  }

  .header {
    &__inner {
      padding-top: 42px;
      flex-wrap: wrap;
    }

    &__btn-menu {
      order: -1;
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;

      span {
        background-color: #000;
        width: 37px;
        height: 3px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;

      }
    }
  }

  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #FFF;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-350px);
    transition: all .5s;

    &--open {
      transform: translateY(30px);
    }

    &__list {
      display: block;
    }

    &__list-item {
      padding-right: 0;
    }

    &__list-link {
      display: block;
      padding: 10px 0;
    }
  }


}

@media (max-width: 375px) {}